.content{
    height: 1500px;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.carousel-container{
    display: flex;
    align-items: center;
    text-align: center;
}
.carousel {
    overflow: hidden;
    width: 100%;
}

.carousel-items {
    display: flex;
    width: 100%;
    height: 100%;
    transition: transform 0.3s ease;
}

.carousel-item {
    flex: 0 0 100%;
    overflow: hidden; 
    height: 500px;
    padding: 10%;
    box-sizing: border-box;
    background-size: 100% auto;
    background-position: center;  
    background-repeat: no-repeat;
}

  
.carousel-button{
    width: 50px;
    height: 500px;
    line-height: 500px;
    font-size: 50px;
    cursor:pointer;
    position:absolute;
    z-index: 10;
    color: white;
}

#previous-button{
    left: 2%;
}

#next-button{
    right: 2%;
}

.about-us{
    height: 30%;
    display: flex;
    align-items: center;
    padding-top: 5%;
    padding-left: 10%;
    padding-right: 10%;
}
.about-us-text{
    flex: 1;
    padding-right: 20px;
    color: white;
}

.about-us-image{
    flex: 1;
}

.about-us-image img{
    border-radius: 20px;
}


.our-events{
    height: 30%;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.our-events h1{
    padding: 20px;
}

.event-icon-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    overflow: hidden;
    width: 90%;
  }
  
  .event-icon {
    width: 140px;
    height: 230px;
  }

  .event-icon img{
    height: 140px;
    width: 140px;
    padding: 20px;
    box-sizing: border-box;
  }

  .event-icon p{
    height: 50px;
    line-height: 20px;
    text-align: center;
  }

  @media (max-width: 1103px) {
    .our-events{
        flex: 2;
    }
    .content{
        height: 2200px;
    }
  }